body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #1d78d4;
}

.navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #165da6;
    color: white;
}

.navbar a.active {
    background-color: #ffffff;
    color: white;
}

h1 {
    align-content: center;
}

img {
    float: right;
    height: 40px;
    width: 100px;
    padding: 10px;
}

.addComments {
    border-radius: 5px;
    background-color: #f2f2f2;
}

.enquirySubmissionForm {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.enquirySubmissionForm input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.enquirySubmissionForm table {
    text-align: left;
    padding-bottom: 10px;
}

.enquiryDetails {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
}

.enquiryConfirmation {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
}

.enquiryHome {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
}

#enquiryDetailsField {
    height: 200px;
}

#enquiryCommentsField {
    height: 200px;
}

.enquiryTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1d78d4;
    color: white;
}

.enquiryTable td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

.enquiryTable tr:nth-child(even){background-color: #f2f2f2;}

.enquiryTable tr:hover {background-color: #ddd;}

.detailsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1d78d4;
    color: white;
}

.detailsTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.detailsTable tr:nth-child(even){background-color: #f2f2f2;}

.detailsTable tr:hover {background-color: #ddd;}

.submitButton {
    background-color: #1d78d4;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.submitButton:hover {
    background-color: #165da6;
    color: white;
}

.navButton {
    background-color: #1d78d4;
    border: #1d78d4;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.navButton:hover{
    background-color: #165da6;
    color: white;
}

.return {
    text-align: left;
    padding: 10px;
    margin:auto;
    width: 60%;
}

.return a {
    color: #222222;
}

.button {
    background-color: #1d78d4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #165da6;
    color: white;
}