

body {
    /*
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #3CB371;
    */
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url('../img/background.jpg');
}


.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    border-radius: 4px;
}
.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.box input[type = "text"],
.box input[type = "password"],
.box input[type = "number"],
.box input[type = "email"],
.box input[type = "date"],
.box input[type = "tel"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #778899;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,
.box input[type = "password"]:focus,
.box input[type = "number"]:focus,
.box input[type = "email"]:focus,
.box input[type = "date"]:focus,
.box input[type = "tel"]:focus{
    width: 280px;
    border-color: #3498db;

}

.box input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type = "submit"]:hover {
    background: #2ecc71;
    color: white;
}

.box input[type = "button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #CD5C5C;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type = "button"]:hover {
    background: #CD5C5C;
    color: white;
}

.box p {

}

.errorinfo {
    color: red;
}