* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/background.jpg');
}

nav {
    background: #3CB371;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a:hover {
    transition: .5s;
    font-size: 20px;
    text-decoration: underline;
}


.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;

}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        display: block;
        font-size: 20px;
    }
    a.active, a:hover {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

.table-style {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    max-width: 100%;
    min-width: 40%;
    border-radius: 3px 3px 3px 3px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-style thead tr {
    background-color: #3CB371;
    color: #ffffff;
    text-align: left;
    font-weight: bold;

}

.table-style th,
.table-style td {
    padding: 12px 15px;
    text-align: center;

}

.table-style tbody tr {
    border-bottom: 1px solid #dddddd;
}


.table-style tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-style tbody tr:nth-of-type(odd) {
    background-color: white;
}


.table-style tbody tr:last-of-type {
    border-bottom: 1px solid white;
}


.table-header {
    color: #ffffff;
    font-weight: bold;
    width: 40%;
}

.root {
    background: #5A7670;

}

.staff {
    background: #B89F5D;

}

.customer {
    background: #3FB0AC;
}


.actived {
    color:white;
    background-color: limegreen;
    border-style: none;
}

.actived:hover {
    color:white;
    background-color: grey;
    border-style: none;
}

.edit {
    color:white;
    background-color:#0082e6;
    border-style: none;
}

.edit:hover {
    color:white;
    background-color: grey;
    border-style: none;
}

.delete {
    color:white;
    background-color:firebrick;
    border-style: none;
}

.delete:hover {
    color:white;
    background-color: grey;
    border-style: none;
}

.lock {
    color:white;
    background-color: crimson;
    border-style: none;

}

.lock:hover {
    color:white;
    background-color: grey;
    border-style: none;

}

.unlocked {
    color: limegreen;
}
.locked {
    color: crimson;
}

.keyword {
    width: 100%;
    margin: auto;
}

.keyword input[type = "text"]:focus {
    border-color: #3498db;
    transition: 0.5s;

}

.search {
    width: 40%;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    border-color: lightgrey;
}

.submit {
    width: 60%;
    padding: 12px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: #2ecc71;
    border-style: none;
}

.submit:hover {
    color: white;
    background-color: lightgrey;
}

.submit2 {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: #3FB0AC;
    border-style: none;
}
.submit2:hover {
    color: white;
    background-color: lightgrey;
}

.submit3 {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    background-color: #B89F5D;
    border-style: none;
}

.submit3:hover {
    color: white;
    background-color: lightgrey;
}

.padding {
    padding: 12px 16px;
}

.border_radius {
    border-radius: 3px;
}

.light_green {
    background-color: #2ecc71;
}
.light_blue {
    background-color: #3FB0AC;
}
.yellow {
    background-color: #B89F5D;
}
.red {
    background-color: #CD5C5C;
}

.adult {
    background-color: #2c3e50;
}

.senior {
    background-color: #B89F5D;
}

.child {
    background-color: #3FB0AC;
}

.concession {
    background-color: gray;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: center;
    border-radius: 4px;
}
.box h1{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.box input[type = "text"],
.box input[type = "password"],
.box input[type = "number"],
.box input[type = "email"],
.box input[type = "date"],
.box input[type = "tel"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #778899;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,
.box input[type = "password"]:focus,
.box input[type = "number"]:focus,
.box input[type = "email"]:focus,
.box input[type = "date"]:focus,
.box input[type = "tel"]:focus{
    width: 280px;
    border-color: #3498db;

}

.box input[type = "submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type = "submit"]:hover {
    background: #2ecc71;
    color: white;
}

.box input[type = "button"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #CD5C5C;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type = "button"]:hover {
    background: #CD5C5C;
    color: white;
}

.box p {

}

.errorinfo {
    color: red;
}

h1 {
    align-content: center;
}

img {
    float: right;
    height: 40px;
    width: 100px;
    padding: 10px;
}

.addComments {
    border-radius: 5px;
    background-color: #f2f2f2;
}

.enquirySubmissionForm {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.enquirySubmissionForm input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.enquirySubmissionForm table {
    text-align: left;
    padding-bottom: 10px;
}

.enquiryDetails {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
}

.enquiryConfirmation {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
}

.enquiryHome {
    text-align: center;
    padding: 10px;
    margin:auto;
    width: 60%;
}

#enquiryDetailsField {
    height: 200px;
}

#enquiryCommentsField {
    height: 200px;
}

.enquiryTable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3FB0AC;
    color: white;
}

.enquiryTable td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

.enquiryTable tr:nth-child(even){background-color: #f2f2f2;}

.enquiryTable tr:hover {background-color: #ddd;}

.detailsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3FB0AC;
    color: white;
}

.detailsTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.detailsTable tr:nth-child(even){background-color: #f2f2f2;}

.detailsTable tr:hover {background-color: #ddd;}

.submitButton {
    background-color: #3FB0AC;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.submitButton:hover {
    background-color: #165da6;
    color: white;
}

.navButton {
    background-color: #3FB0AC;
    border: #3FB0AC;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.navButton:hover{
    background-color: #165da6;
    color: white;
}

.return {
    text-align: left;
    padding: 10px;
    margin:auto;
    width: 60%;
}

.return a {
    color: #222222;
}

.button1 {
    background-color: #3FB0AC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: #165da6;
    color: white;
}

.userprofile {
    background-color: #3FB0AC;
    padding: 4px 4px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.adult {
    background-color:#5A7670;
}

.successinfo {
    margin: 5px;
    color: green;
}

.wrapper{
    background-color: #fff;
    width: 500px;
    padding: 25px;
    margin: 25px auto 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

}

.wrapper h2{
    background-color: white;
    color: #57bcd8;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
}

.wrapper h4{
    padding-bottom: 5px;
    color: #57bcd8;
    font-size: 20px;

}
.input-group{
    margin-bottom:  8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}
.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input-box:last-child{
    margin-right: 0;
}

.name {
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #000003;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.name:focus, .dob:focus{
    -webkit-box-shadow: 0 0 2px 1px #57bcd8;
    -moz-box-shadow: 0 0 2px 1px #57bcd8;
    box-shadow: 0 0 2px 1px #57bcd8;
    border: 1px solid #57bcd8;
}
.dob{
    width: 47%;
    padding: 14px 10px 14px 50px;;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #000003;
    border-radius:  3px;
}
.input-box label{
    width: 40%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #000003;
}
.radio{
    display: none;
}

.input-box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.input-box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.radio:checked +label{
    background-color: #57bcd8;
    color: #fcfcfc;
    transition: 0.5s;

}

.input-box select{
    display: inline-block;
    width: 50%;
    padding: 12px;
    background-color: #fcfcfc;
    float: left;
    text-align: center;
    font-size: 16px;
    outline: none;
    border: 1px solid #c0bfbf;
    cursor: pointer;
    transition: all 0.2s ease;
}

.input-box select:focus{
    background-color: #57bcd8;
    color: #fff;
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}


.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control.success input {
    border-color: #2ecc71;
}

.form-control.error input {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}